<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset=UTF-8>
    <title>Библиотека</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
	<ul id="navbar">
  		<li><a href="/authors">Авторы</a></li>
  		<li><a href="/genres">Жанры</a></li>
  		<li><a href="/books">Книги</a></li>
  		<li>
  			<form method="POST" th:action="@{/logout}">
				<input type="submit" value="Выход"/>
			</form>
		</li>
	</ul>
	
	<form method="post" th:action = "@{/genres/edit}" th:object = "${genre}">
		<table>
			<tbody>
				<tr>
				    <td> <label>Название жанра</label>
        			<td> <input type="text" th:field="*{name}">
        			<td> <input type="hidden" th:field="*{id}">
        			<td> <input type="hidden" th:field="*{existent}">
        			<td class="validationError" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        		</tr>
        		<tr>
        			<td> <input class="orange-button" type="submit" value="Сохранить"/> </td>
        		</tr>
			</tbody>
		</table>
	</form>
</body>
</html>